<template>
  <v-card>
    <v-card-title>
      От: {{ thread.username }}
    </v-card-title>
    <v-img
      :src="thread.image"
      max-height="300"
      max-width="500"
      class="ml-5"
    >
    </v-img>
    <v-card-text>
      {{ thread.text }}
    </v-card-text>
    <v-card-actions>
      <v-row>
        <v-col>
          <v-btn @click="load_replies(thread)">Ответы</v-btn>
          <v-btn @click="show_form()">Написать ответ</v-btn>
          <v-card v-show="form_visible">
            <v-card-title>
              Ответить
            </v-card-title>
            <v-card-text>
              <v-form>
                <v-row>
                  <v-text-field
                    label="Автор"
                    v-model="answer.username"
                  ></v-text-field>
                </v-row>
                <v-row>
                  <v-text-field
                    label="Текст"
                    v-model="answer.text"
                  ></v-text-field>
                </v-row>
                <v-row>
                  <v-text-field
                    label="Картинка"
                    v-model="answer.image"
                  ></v-text-field>
                </v-row>
                <v-row>
                  <v-btn @click="answer_post(thread)">Создать!</v-btn>
                </v-row>
              </v-form>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col>
        </v-col>
      </v-row>
    </v-card-actions>
    <v-container
      v-for="reply in thread.replies"
      :key="reply.id"
    >
      <post :thread="reply" v-on:delete="load_replies(thread)"/>
    </v-container>
  </v-card>
</template>

<script>
import Post from '~/components/Post.vue'

export default {
  name: "Post",
  components: {
    Post
  },
  props: ['thread'],
  data() {
    return {
      form_visible: false,
      answer: {
        username: '',
        text: '',
        image: '',
        link: ''
      }
    }
  },
  methods: {
    load_replies(thread) {
      this.$axios
        .get("http://127.0.0.1:8000/api/v1/thread/get/" + thread.id)
        .then((response) => {
          this.$set(thread, 'replies', response.data.replies);
        });
    },
    delete_post(id) {
      this.$axios
        .post("http://127.0.0.1:8000/api/v1/thread/delete/", {
          id: id,
        })
        .then((response) => {
          this.$emit('delete', id);
        });
    },
    show_form() {
      this.form_visible = !this.form_visible;
    },
    answer_post(thread) {
      this.answer.link = thread.id;
      this.$axios
        .post("http://127.0.0.1:8000/api/v1/thread/create", this.answer)
        .then(() => {
          this.load_replies(thread);
        });
    }
  }
}
</script>
