<template>
  <v-row>
    <v-col class="d-flex">
      <v-div>
        <v-div>
          <v-btn
            color="secondary"
            fab
            x-small
            dark
          ></v-btn><v-btn
            color="secondary"
            fab
            x-small
            dark
          ></v-btn><v-btn
            color="secondary"
            fab
            x-small
            dark
          ></v-btn><v-btn
            color="secondary"
            fab
            x-small
            dark
          ></v-btn><v-btn
            color="secondary"
            fab
            x-small
            dark
          ></v-btn>
        </v-div>
        <br>
        <v-div>
          <v-btn
            color="secondary"
            fab
            x-small
            dark
          ></v-btn><v-btn
            color="secondary"
            fab
            x-small
            dark
          ></v-btn><v-btn
            color="secondary"
            fab
            x-small
            dark
          ></v-btn><v-btn
            color="secondary"
            fab
            x-small
            dark
          ></v-btn><v-btn
            color="secondary"
            fab
            x-small
            dark
          ></v-btn>
        </v-div>
        <br>
        <v-div>
          <v-btn
            color="secondary"
            fab
            x-small
            dark
          ></v-btn><v-btn
            color="secondary"
            fab
            x-small
            dark
          ></v-btn><v-btn
            color="secondary"
            fab
            x-small
            dark
          ></v-btn><v-btn
            color="secondary"
            fab
            x-small
            dark
          ></v-btn><v-btn
            color="secondary"
            fab
            x-small
            dark
          ></v-btn>
        </v-div>
        <br>
        <v-div>
          <v-btn
            color="secondary"
            fab
            x-small
            dark
          ></v-btn><v-btn
            color="secondary"
            fab
            x-small
            dark
          ></v-btn><v-btn
            color="secondary"
            fab
            x-small
            dark
          ></v-btn><v-btn
            color="secondary"
            fab
            x-small
            dark
          ></v-btn><v-btn
            color="secondary"
            fab
            x-small
            dark
          ></v-btn>
        </v-div>
        <br>
        <v-div>
          <v-btn
            color="secondary"
            fab
            x-small
            dark
          ></v-btn><v-btn
            color="secondary"
            fab
            x-small
            dark
          ></v-btn><v-btn
            color="secondary"
            fab
            x-small
            dark
          ></v-btn><v-btn
            color="secondary"
            fab
            x-small
            dark
          ></v-btn><v-btn
            color="secondary"
            fab
            x-small
            dark
          ></v-btn>
        </v-div>
        <br>
        <v-div class="d-flex">
          <v-btn
            color="red"
            fab
            x-large
          >
            click <br> ME
          </v-btn>
          <v-btn
            color="red"
            fab
            x-large
          >
            click <br> ME
          </v-btn>
        </v-div>
        <v-div class="d-flex">
          <v-btn
            color="red"
            fab
            x-large
          >
            click <br> ME
          </v-btn>
          <v-btn
            color="red"
            fab
            x-large
          >
            click <br> ME
          </v-btn>
        </v-div>
      </v-div>
      <v-time-picker
        format="24hr"
        use-seconds
      >Hello world!</v-time-picker>
    </v-col>
  </v-row>
</template>
