<template>
  <v-row>
    <v-col>
      <div class="text-center">
        Тут могла быть ваша реклама
      </div>
      <div>
        <v-text-field
            label="Login"
          ></v-text-field>
        <v-text-field
            label="Password"
          ></v-text-field>
        <v-btn>войти</v-btn>
        <v-btn>выйти</v-btn>
      </div>
    </v-col>
  </v-row>
</template>
