<template>
  <v-container>
    <v-row>
      <v-col class="text-center">
        <v-form>
          <v-row>
            <v-text-field
              label="Автор"
              v-model="new_post.username"
            ></v-text-field>
          </v-row>
          <v-row>
            <v-text-field
              label="Текст"
              v-model="new_post.text"
            ></v-text-field>
          </v-row>
          <v-row>
            <v-text-field
              label="Картинка"
              v-model="new_post.image"
            ></v-text-field>
          </v-row>
          <v-row>
            <v-text-field
              label="Ответ на"
              v-model="new_post.link"
            ></v-text-field>
          </v-row>
          <v-row>
            <v-btn @click="create_post()">Впрёд!</v-btn>
          </v-row>
        </v-form>
      </v-col>
    </v-row>
    <v-row
      v-for="thread in threads_arr"
      :key="thread.id"
    >
      <v-col>
        <post :thread="thread" v-on:delete="delete_root"/>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Post from '~/components/Post.vue'

export default {
  components: {
    Post
  },
  data() {
    return {
      new_post: {
        username: '',
        text: '',
        image: '',
        link: -1
      },
      threads_arr: {},
    };
  },
  methods: {
    create_post() {
      this.$axios
        .post("http://127.0.0.1:8000/api/v1/thread/create", this.new_post)
        .then(() => {
          if (this.new_post.link == -1) {
            this.load_threads();
          }
        });
    },
    load_threads() {
      this.$axios
        .get("http://127.0.0.1:8000/api/v1/thread/getlist/0")
        .then((response) => {
          for (let thread of response.data) {
            this.$set(this.threads_arr, thread.id, thread);
          }
        });
    },
    delete_root(id) {
      delete this.threads_arr[id];
      this.load_threads();
    }
  },
  mounted() {
    this.load_threads();
  }
}
</script>
