<template>
  <v-container>
    <v-row>
      <v-col>
        <div class="text-center">
          Тут могла быть ваша реклама
        </div>
      </v-col>
    </v-row>
    <v-row
      v-for="thread in threads_arr"
      :key="thread.id"
    >
      <v-col>
        <post :thread="thread"/>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Post from '~/components/Post.vue'

export default {
  components: {
    Post
  },
  data() {
    return {
      threads_arr: {}
    };
  },
  methods: {
    load_threads() {
      this.$axios
        .get("http://127.0.0.1:8000/api/v1/getlistraw/0")
        .then((response) => {
          for (let thread of response.data) {
            this.$set(this.threads_arr, thread.id, thread);
          }
        });
    },
  },
  mounted() {
    this.load_threads();
  }
}
</script>

